body,
ul,
li {
    margin: 0;
    padding: 20;
    background-color: rgb(225, 222, 199);
}

.banner {
    height: 120px;
    padding-top: 20px;
    text-align: center;
    position: relative;
}

.title {
    color: rgb(51, 18, 18);
    background-color: transparent;
}

.newItem {
    background-color: rgb(225, 222, 199);
    height: 70px;
    padding: 20px 13px;
    color: white;
    display: flex;

}

#inpValue {
    border: 1px solid rgb(104, 103, 103);
    width: 14%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    padding: 9px 10px;
    background-color: rgb(225, 217, 217);
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    height: 13px;
}

.items {
    display: flex;
    justify-content: center;
}

table,
th,
td {
    border: 1px solid lightslategrey;
    position: relative;
    padding: 5px 4px 2px 5px;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}

td {
    max-block-size: 60%;
    max-height: 55;
}

table {
    width: 98%;
}

tr:nth-child(odd) {
    background-color: #eee;
}

th:nth-child(2) {
    width: 23%;
}

th:nth-child(1),
th:nth-child(3),
th:nth-child(4),
th:nth-child(7) {
    width: 12%;
}

th:nth-child(5),
th:nth-child(6) {
    width: 10%;
}

th:nth-child(8) {
    width: 4%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

.delete:hover {
    color: #f44336;
    font-weight: bolder;
}

.update:hover {
    color: rgb(68, 68, 227);
    font-weight: bolder;
}